<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.widgetmodule">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >

        <receiver android:name=".MakeupBookWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/makeup_book_widget_info" />
        </receiver>
    </application>

</manifest>